<main>
  <p>my-answer works!</p>
  <h6>i)	What’s Decorator function?</h6>
  <p>It is a function that provides me with information about the class associated with it</p>

  <h6>ii)	And why we need @ component () function in the component.ts file.</h6>
  <p>It is a function that provides me with information about the class associated with it, and this information
    is called meta data<br>
    1- selector: name of component<br>
    2- templateUrl: html file<br>
    3- styleUrls: style file
  </p>
  <h6>c.	Find where does angular define the bootstrapping module, and bootstrapping component.</h6>
  <p>angular define the bootstrapping module in main.ts , and bootstrapping component in app-module.ts</p>
  <hr>
</main>

